{% extends 'base.html.twig' %}

{% block body %}
    {# @var items \AppBundle\Entity\Book[] #}
    <ul>

        {% for book in items %}
            <li>
                <span>{{ book.title }}</span>
                <span>{{ book.description }}</span>
            </li>
        {% endfor %}

    </ul>
{% endblock %}