{% extends 'base.html.twig' %}

{% block body %}
        <div class="row">
        {# @var items \AppBundle\Entity\Book[] #}
            {% for book in items %}
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>{{ book.title }}</h3>
                            <p>{{ book.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}