{% extends 'base.html.twig' %}

{% block body %}
        <div class="row">
        {# @var items \AppBundle\Entity\Book[] #}
            {% for book in items %}
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <span>{{ book.title }}</span>
                        <span>{{ book.description }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}